body
{
    margin-top: 49px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 49px;
  }
  
  li {
    float: left;
    border-right: 2px solid #bbb;
    height: 49px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover:not(.active) {
    background-color:rgb(32, 186, 236);
  }
  
  #machineImg
  {
      height: 600px;
  }

  h2
  {
      text-align: center;
      font-size: 30px;
      color: darkgoldenrod;
  }

  p
  {
      text-align: center;
      font-size: 20px;
      margin-bottom: 50px;
  }
  html {
    scroll-behavior: smooth;
  }
  .line {
    height: 6px;
    background-color: blue;
    width: 100%;
    margin: 4px auto;
  }

  .line2 {
    height: 6px;
    background-color: purple;
    width: 100%;
    margin: 4px auto;
  }

  #home
  {
    border-left: 2px solid #bbb;
    height: 49px; 
  }